n8n-workflow-socio-reels.json
{
  "name": "Socio: Reel link → API → Drive (video/raw) → In progress",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "documentId": {
          "__rl": true,
          "value": "1bjUzMcmFiejlVv_N2qFSCBUOYM4JgsG9ZGXMb482-6Y",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 4223526,
          "mode": "list"
        },
        "options": {}
      },
      "name": "Google Sheets Trigger2",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [-576, -176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/clip_download",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.SOCIO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.reel_url }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "name": "Download Video (Socio API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-256, -176],
      "notesInFlow": true,
      "notes": "URL must be .../clip_download OR (after API deploy) just ...sslip.io/ with POST — same as /clip_download. Add Header: Name api-key, Value = your API_KEYS secret. Body: JSON fields url = reel URL. If error says file missing: set YTDLP_COOKIE_FILE on the server for Instagram."
    },
    {
      "parameters": {
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $('Google Sheets Trigger2').item.json.ID }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj",
          "mode": "list",
          "cachedResultName": "video/raw",
          "cachedResultUrl": "https://drive.google.com/drive/folders/197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj"
        },
        "options": {}
      },
      "name": "Upload to Drive (video/raw)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [64, -176]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bjUzMcmFiejlVv_N2qFSCBUOYM4JgsG9ZGXMb482-6Y",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 4223526,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger2').item.json.ID }}",
            "processing_status": "In progress",
            "raw_gdrive_url": "={{ $json.webViewLink }}",
            "row_number": "={{ $('Google Sheets Trigger2').item.json.row_number }}"
          },
          "matchingColumns": ["ID"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Sheet (In progress)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [384, -176]
    }
  ],
  "connections": {
    "Google Sheets Trigger2": {
      "main": [
        [
          {
            "node": "Download Video (Socio API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video (Socio API)": {
      "main": [
        [
          {
            "node": "Upload to Drive (video/raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive (video/raw)": {
      "main": [
        [
          {
            "node": "Update Sheet (In progress)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
