n8n_reel_workflow_validated.json
{
  "name": "Reel — fetch, extract title, Drive, Sheet (validated export)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "socio-reels-start",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-5216, -2096],
      "id": "f45f3ecf-a450-4d07-9b18-7fbdd31e0994",
      "name": "Webhook Trigger",
      "webhookId": "7c38cb80-79cd-499e-976b-0487393ad26b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "options": {}
      },
      "id": "b6dfc8f5-836e-4d4a-a37e-cf20a10c0d24",
      "name": "Sheet new reel row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4816, -2064],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "new-row-filter-01",
              "leftValue": "={{ $json.processing_status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "878a935b-d973-4316-a16d-0129b55d806a",
      "name": "Filter New Rows Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-4592, -2064]
    },
    {
      "parameters": {
        "options": {},
        "batchSize": 1
      },
      "id": "e91a2bc3-4c5f-4a6e-9d2f-a1b3c4d5e6f7",
      "name": "Process new reels one at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-4480, -2064]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/clip_download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.reel_url }}"
            }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "raw_mp4"
            }
          }
        }
      },
      "id": "8a524424-b089-4d85-93d9-b147803c0712",
      "name": "HTTP fetch reel MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4368, -2064]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0e30b01-d45e-4bd9-8b78-a3a0f5874fbe",
              "leftValue": "={{ !!$binary.raw_mp4 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5eb892c0-8fad-48bd-818d-f01de95b04ca",
      "name": "IF fetch succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-4144, -2064]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nitem.binary.raw_mp4.mimeType = 'video/mp4';\nitem.binary.raw_mp4.fileExtension = 'mp4';\nreturn item;"
      },
      "id": "45de9def-3626-4e5e-8778-11579610a6aa",
      "name": "Set Video MimeType1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3920, -2064]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/extract_title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "raw_mp4"
            }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json",
              "fullResponse": false
            }
          }
        }
      },
      "id": "b8a560bf-c6f8-4a5d-820e-eca4def91054",
      "name": "HTTP Extract title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3696, -2192]
    },
    {
      "parameters": {
        "inputDataFieldName": "raw_mp4",
        "name": "={{ $('Sheet new reel row').item.json.ID }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj",
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://drive.google.com/drive/folders/197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj"
        },
        "options": {}
      },
      "name": "Drive upload video to raw2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-3680, -1920],
      "id": "864d883a-dc63-4d5b-96c2-afd90c9dec27",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "foIZ58qap1cxezj6",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst src = $('Set Video MimeType1').item;\nif (!src.binary?.raw_mp4) {\n  throw new Error('raw_mp4 missing on Set Video MimeType1 — confirm HTTP fetch + IF true branch.');\n}\nitem.binary = { ...src.binary };\nitem.json = { ...src.json, ...item.json };\nreturn item;"
      },
      "id": "a7c2f8e1-4b3d-4c0a-9e2f-8d1c6a5b4e3f",
      "name": "Re-attach raw_mp4 for title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3504, -2112]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processing_status": "In progress",
            "raw_gdrive_url": "={{ $('Drive upload video to raw2').item.json.webViewLink }}",
            "row_number": 0,
            "name": "={{ $('Set Video MimeType1').item.json.name }}",
            "Title": "={{ $json.title }}"
          },
          "matchingColumns": ["name"],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reel_url",
              "displayName": "reel_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_gdrive_url",
              "displayName": "raw_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_gdrive_url",
              "displayName": "final_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cropped_gdrive_url",
              "displayName": "Cropped_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date(mm-dd-yyyy)",
              "displayName": "date(mm-dd-yyyy)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time(hh:mm)am/pm",
              "displayName": "time(hh:mm)am/pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f155b8c6-6fd8-414e-8a72-be32e2affc7c",
      "name": "Sheet update link status and title",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3248, -2064],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Sheet new reel row", "type": "main", "index": 0 }]]
    },
    "Sheet new reel row": {
      "main": [[{ "node": "Filter New Rows Only", "type": "main", "index": 0 }]]
    },
    "Filter New Rows Only": {
      "main": [[{ "node": "Process new reels one at a time", "type": "main", "index": 0 }]]
    },
    "Process new reels one at a time": {
      "main": [
        [],
        [{ "node": "HTTP fetch reel MP", "type": "main", "index": 0 }]
      ]
    },
    "HTTP fetch reel MP": {
      "main": [[{ "node": "IF fetch succeeded", "type": "main", "index": 0 }]]
    },
    "IF fetch succeeded": {
      "main": [
        [
          {
            "node": "Set Video MimeType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video MimeType1": {
      "main": [[{ "node": "Drive upload video to raw2", "type": "main", "index": 0 }]]
    },
    "Drive upload video to raw2": {
      "main": [[{ "node": "Re-attach raw_mp4 for title", "type": "main", "index": 0 }]]
    },
    "Re-attach raw_mp4 for title": {
      "main": [[{ "node": "HTTP Extract title", "type": "main", "index": 0 }]]
    },
    "HTTP Extract title": {
      "main": [[{ "node": "Sheet update link status and title", "type": "main", "index": 0 }]]
    },
    "Sheet update link status and title": {
      "main": [[{ "node": "Process new reels one at a time", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "cf378c5ef4658aaf0ea361f742da9ae9614b37f0f3ce30af274ded009b9a5ce0",
    "templateCredsSetupCompleted": true,
    "validationNotes": [
      "Top branch only: Webhook Trigger → Sheet → Filter → Split in Batches (1) → fetch → IF → Set mime → Drive upload → Re-attach raw_mp4 (Code) → HTTP extract_title → Sheet update → loop Split.",
      "Google Drive upload drops binary; Code node copies raw_mp4 from Set Video MimeType1 onto the item before /extract_title.",
      "No parallel Drive + extract_title (avoids overload / aborted connections). Merge node removed.",
      "HTTP fetch + extract_title timeouts 600000 ms. Sheet row match uses Set Video MimeType1.item.json.name after HTTP overwrites $json."
    ]
  }
}
