n8n_workflow1_reel_title_fixed.json
{
  "name": "Reel fetch — Drive + title OCR (workflow 1)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-5120, -2064],
      "id": "99f70db4-d525-4b40-bcf6-598bbf7d53d9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "options": {}
      },
      "id": "b6dfc8f5-836e-4d4a-a37e-cf20a10c0d24",
      "name": "Sheet new reel row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-4816, -2064],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "new-row-filter-01",
              "leftValue": "={{ $json.processing_status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "878a935b-d973-4316-a16d-0129b55d806a",
      "name": "Filter New Rows Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-4592, -2064]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/clip_download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.reel_url }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "raw_mp4"
            }
          }
        }
      },
      "id": "8a524424-b089-4d85-93d9-b147803c0712",
      "name": "HTTP fetch reel MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4368, -2064]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0e30b01-d45e-4bd9-8b78-a3a0f5874fbe",
              "leftValue": "={{ !!$binary.raw_mp4 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5eb892c0-8fad-48bd-818d-f01de95b04ca",
      "name": "IF fetch succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-4144, -2064]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nitem.binary.raw_mp4.mimeType = 'video/mp4';\nitem.binary.raw_mp4.fileExtension = 'mp4';\nreturn item;"
      },
      "id": "45de9def-3626-4e5e-8778-11579610a6aa",
      "name": "Set Video MimeType1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3920, -2064]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/extract_title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "raw_mp4"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json",
              "fullResponse": false
            }
          }
        }
      },
      "id": "b8a560bf-c6f8-4a5d-820e-eca4def91054",
      "name": "HTTP Extract title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3696, -2192]
    },
    {
      "parameters": {
        "inputDataFieldName": "raw_mp4",
        "name": "={{ $('Sheet new reel row').item.json.ID }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj",
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://drive.google.com/drive/folders/197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj"
        },
        "options": {}
      },
      "name": "Drive upload video to raw2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-3680, -1920],
      "id": "864d883a-dc63-4d5b-96c2-afd90c9dec27",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "foIZ58qap1cxezj6",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferLast",
              "mergeMode": "deepMerge",
              "overrideEmpty": false
            }
          }
        }
      },
      "id": "08195d13-c529-4c43-bce6-dc2f5414b44b",
      "name": "Merge Drive + Title",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-3456, -2048]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processing_status": "In progress",
            "raw_gdrive_url": "={{ $('Drive upload video to raw2').item.json.webViewLink }}",
            "row_number": 0,
            "name": "={{ $('Sheet new reel row').item.json.name }}",
            "Title": "={{ $('HTTP Extract title').item.json.title }}"
          },
          "matchingColumns": ["name"],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reel_url",
              "displayName": "reel_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_gdrive_url",
              "displayName": "raw_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_gdrive_url",
              "displayName": "final_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cropped_gdrive_url",
              "displayName": "Cropped_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date(mm-dd-yyyy)",
              "displayName": "date(mm-dd-yyyy)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time(hh:mm)am/pm",
              "displayName": "time(hh:mm)am/pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f155b8c6-6fd8-414e-8a72-be32e2affc7c",
      "name": "Sheet update link status and title",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-3248, -2064],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [[{ "node": "Sheet new reel row", "type": "main", "index": 0 }]]
    },
    "Sheet new reel row": {
      "main": [[{ "node": "Filter New Rows Only", "type": "main", "index": 0 }]]
    },
    "Filter New Rows Only": {
      "main": [[{ "node": "HTTP fetch reel MP", "type": "main", "index": 0 }]]
    },
    "HTTP fetch reel MP": {
      "main": [[{ "node": "IF fetch succeeded", "type": "main", "index": 0 }]]
    },
    "IF fetch succeeded": {
      "main": [
        [
          {
            "node": "Set Video MimeType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video MimeType1": {
      "main": [
        [
          {
            "node": "HTTP Extract title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive upload video to raw2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Extract title": {
      "main": [[{ "node": "Merge Drive + Title", "type": "main", "index": 1 }]]
    },
    "Drive upload video to raw2": {
      "main": [[{ "node": "Merge Drive + Title", "type": "main", "index": 0 }]]
    },
    "Merge Drive + Title": {
      "main": [[{ "node": "Sheet update link status and title", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf378c5ef4658aaf0ea361f742da9ae9614b37f0f3ce30af274ded009b9a5ce0",
    "fixes_applied": [
      "HTTP Extract title: contentType must be multipart-form-data (hyphens), not multipart/form-data (slash) — n8n 4.4 SDK.",
      "HTTP Extract title: responseFormat json so title is parsed from Socio API body.",
      "HTTP Extract title: URL must be full path .../extract_title (bare host causes wrong route / abort).",
      "HTTP Extract title: options.timeout 300000 ms — OCR often exceeds n8n default HTTP timeout.",
      "Drive upload: fixed $('Sheet new reel row1') → $('Sheet new reel row') to match actual node name.",
      "Merge: typeVersion 3.2 + clashHandling defaults for combineByPosition.",
      "Sheet update: raw_gdrive_url uses Drive node explicitly (not $json after merge)."
    ]
  }
}
