n8n_reel_gemini_vlm.json
{
  "name": "Reel branch — Gemini VLM title (replace extract_title)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-5776, -656],
      "id": "93ec4977-6b16-49d6-9a5c-c7ddcb7f2106",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst src = $('Set Video MimeType').item;\nif (!src.binary?.raw_mp4) {\n  throw new Error('raw_mp4 missing on Set Video MimeType — confirm HTTP fetch + IF true branch.');\n}\nitem.binary = { ...src.binary };\nitem.json = { ...src.json, ...item.json };\nreturn item;"
      },
      "id": "73429071-4f56-4d1b-88f4-934c34790040",
      "name": "Re-attach raw_mp4 for title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3472, -624]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "options": {}
      },
      "id": "d622553c-e45a-417f-8b3b-3d4049ab861b",
      "name": "Sheet new reel row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-5376, -608],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "new-row-filter-01",
              "leftValue": "={{ $json.processing_status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e39e03d2-df93-49ca-bac7-324be10a07bd",
      "name": "Filter New Rows Only1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-5040, -608]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/reel_metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.reel_url }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "c4a2b1d0-9e8f-4d5c-b3a2-1d0c9b8a7e6f",
      "name": "HTTP reel metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4920, -608]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $('Filter New Rows Only1').item.json;\nconst meta = $input.item.json;\nfunction canonBrand(v) {\n  const k = String(v || '').trim().toLowerCase().replace(/^@/, '').replace(/\\s+/g, '').replace(/\\./g, '');\n  const map = { finzarc: 'Finzarc', finzarcai: 'Finzarc', deepfried: 'Deepfried', deepfriedai: 'Deepfried' };\n  return map[k] || String(v || '').trim();\n}\nreturn {\n  json: {\n    ...row,\n    brand_name: canonBrand(row.brand_name),\n    post_caption: meta.post_caption ?? '',\n    web_title: meta.web_title ?? '',\n    reel_metadata_ok: meta.ok === true,\n    webpage_url: meta.webpage_url ?? '',\n  },\n};"
      },
      "id": "b7e6d5c4-3210-4fed-a987-6543210fedcb",
      "name": "Merge row + reel_metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4800, -608]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0e30b01-d45e-4bd9-8b78-a3a0f5874fbe",
              "leftValue": "={{ !!$binary.raw_mp4 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66a6a2e9-a53a-4aae-9d8c-f56ae2a91179",
      "name": "IF fetch succeeded1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-4432, -608]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/extract_title_vlm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "raw_mp4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 600000
        }
      },
      "id": "10226c0d-087d-4552-a585-94ec7a19c26b",
      "name": "HTTP Gemini VLM title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3120, -624]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/extraction",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $('Merge row + reel_metadata').item.json.ID }}.mp4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cropped_mp4"
            }
          },
          "timeout": 600000
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "HTTP Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-2880, -624]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $('Merge row + reel_metadata').item.json.ID }}.mp4"
            },
            {
              "name": "brand_name",
              "value": "={{ $('Merge row + reel_metadata').item.json.brand_name || $('Filter New Rows Only1').item.json.brand_name }}"
            },
            {
              "name": "title",
              "value": "={{ $('HTTP Gemini VLM title').item.json.title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "final_mp4"
            }
          },
          "timeout": 600000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "HTTP Process putup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-2640, -624]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/clip_download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.reel_url }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.ID }}.mp4"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "raw_mp4"
            }
          },
          "timeout": 600000
        }
      },
      "id": "19aeccb9-9e45-464c-9613-8695c241922d",
      "name": "HTTP fetch reel MP1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4680, -608]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nif (!item.binary?.raw_mp4) {\n  return item;\n}\nitem.binary.raw_mp4.mimeType = 'video/mp4';\nitem.binary.raw_mp4.fileExtension = 'mp4';\nconst stash = $('Merge row + reel_metadata').item.json;\nitem.json = { ...stash, ...item.json };\nreturn item;"
      },
      "id": "8647f338-9e56-40fd-b401-1bcc0dd10180",
      "name": "Set Video MimeType",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4112, -624]
    },
    {
      "parameters": {
        "inputDataFieldName": "raw_mp4",
        "name": "={{ $json.ID }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj",
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://drive.google.com/drive/folders/197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj"
        },
        "options": {}
      },
      "name": "Drive upload video to raw",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-3840, -624],
      "id": "ebf6509a-634e-44a3-9bfc-c6ec2aeadc65",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "foIZ58qap1cxezj6",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processing_status": "={{ $json.ok === true ? 'ready' : 'title_failed' }}",
            "raw_gdrive_url": "={{ $('Drive upload video to raw').item.json.webViewLink }}",
            "name": "={{ $('Merge row + reel_metadata').item.json.ID }}.mp4",
            "Title": "={{ $json.title }}",
            "Caption": "={{ $('Merge row + reel_metadata').item.json.post_caption || '' }}"
          },
          "matchingColumns": ["name"],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_gdrive_url",
              "displayName": "raw_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e3e2823c-9a0c-40fe-84e9-01d2a0c5e5b8",
      "name": "Sheet update link status and title1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-2880, -624],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Sheet new reel row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-attach raw_mp4 for title": {
      "main": [
        [
          {
            "node": "HTTP Gemini VLM title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet new reel row1": {
      "main": [
        [
          {
            "node": "Filter New Rows Only1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Rows Only1": {
      "main": [
        [
          {
            "node": "HTTP reel metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP reel metadata": {
      "main": [
        [
          {
            "node": "Merge row + reel_metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge row + reel_metadata": {
      "main": [
        [
          {
            "node": "HTTP fetch reel MP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF fetch succeeded1": {
      "main": [
        [
          {
            "node": "Set Video MimeType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP fetch reel MP1": {
      "main": [
        [
          {
            "node": "IF fetch succeeded1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video MimeType": {
      "main": [
        [
          {
            "node": "Drive upload video to raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive upload video to raw": {
      "main": [
        [
          {
            "node": "Re-attach raw_mp4 for title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Gemini VLM title": {
      "main": [
        [
          {
            "node": "HTTP Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Extraction": {
      "main": [
        [
          {
            "node": "HTTP Process putup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Process putup": {
      "main": [
        [
          {
            "node": "Sheet update link status and title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "note": "Set sheet column brand_name to Finzarc or Deepfried per row (IG007–IG012 → Deepfried). clip_download sends filename=ID.mp4. POST /process uses brand_name from Merge row + reel_metadata (not default Finzarc). Redeploy Socio putup.py if multiple brands. Optional GEMINI_API_KEY header on VLM node."
  }
}
