n8n_user_branch_binary_fix.json
{
  "name": "Top reel branch — binary fix (paste into workflow)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "options": {}
      },
      "id": "b6dfc8f5-836e-4d4a-a37e-cf20a10c0d24",
      "name": "Sheet new reel row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-5392, -2096],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "new-row-filter-01",
              "leftValue": "={{ $json.processing_status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "878a935b-d973-4316-a16d-0129b55d806a",
      "name": "Filter New Rows Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-5056, -2096]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0e30b01-d45e-4bd9-8b78-a3a0f5874fbe",
              "leftValue": "={{ !!$binary.raw_mp4 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5eb892c0-8fad-48bd-818d-f01de95b04ca",
      "name": "IF fetch succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-4448, -2096]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/extract_title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "raw_mp4"
            }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json",
              "fullResponse": false
            }
          }
        }
      },
      "id": "b8a560bf-c6f8-4a5d-820e-eca4def91054",
      "name": "HTTP Extract title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-3136, -2112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dr5o3ostqc3oreb2emg16fhk.72.60.205.36.sslip.io/clip_download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "key789"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.reel_url }}"
            }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "raw_mp4"
            }
          }
        }
      },
      "id": "8a524424-b089-4d85-93d9-b147803c0712",
      "name": "HTTP fetch reel MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-4752, -2096]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nitem.binary.raw_mp4.mimeType = 'video/mp4';\nitem.binary.raw_mp4.fileExtension = 'mp4';\nreturn item;"
      },
      "id": "45de9def-3626-4e5e-8778-11579610a6aa",
      "name": "Set Video MimeType1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4128, -2112]
    },
    {
      "parameters": {
        "inputDataFieldName": "raw_mp4",
        "name": "={{ $json.ID }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj",
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://drive.google.com/drive/folders/197FhyyD6c3pTZJ7n8Clkw7q6XlnSLxLj"
        },
        "options": {}
      },
      "name": "Drive upload video to raw2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-3856, -2112],
      "id": "864d883a-dc63-4d5b-96c2-afd90c9dec27",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "foIZ58qap1cxezj6",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst src = $('Set Video MimeType1').item;\nif (!src.binary?.raw_mp4) {\n  throw new Error('raw_mp4 missing on Set Video MimeType1 — confirm HTTP fetch + IF true branch.');\n}\nitem.binary = { ...src.binary };\nitem.json = { ...src.json, ...item.json };\nreturn item;"
      },
      "id": "a7c2f8e1-4b3d-4c0a-9e2f-8d1c6a5b4e3f",
      "name": "Re-attach raw_mp4 for title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3488, -2112]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA",
          "mode": "list",
          "cachedResultName": "Instagram reels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Idea dump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGLndAUDcYShoATkYNIRzFMsft8rwqN_wLmhw7BZnMA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processing_status": "In progress",
            "raw_gdrive_url": "={{ $('Drive upload video to raw2').item.json.webViewLink }}",
            "row_number": 0,
            "name": "={{ $('Set Video MimeType1').item.json.name }}",
            "Title": "={{ $json.title }}"
          },
          "matchingColumns": ["name"],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reel_url",
              "displayName": "reel_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_gdrive_url",
              "displayName": "raw_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_gdrive_url",
              "displayName": "final_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cropped_gdrive_url",
              "displayName": "Cropped_gdrive_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date(mm-dd-yyyy)",
              "displayName": "date(mm-dd-yyyy)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time(hh:mm)am/pm",
              "displayName": "time(hh:mm)am/pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f155b8c6-6fd8-414e-8a72-be32e2affc7c",
      "name": "Sheet update link status and title",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-2768, -2112],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5e2Iv15gjaxaPoT9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-5712, -2096],
      "id": "93ec4977-6b16-49d6-9a5c-c7ddcb7f2106",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Sheet new reel row": {
      "main": [
        [
          {
            "node": "Filter New Rows Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Rows Only": {
      "main": [
        [
          {
            "node": "HTTP fetch reel MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF fetch succeeded": {
      "main": [
        [
          {
            "node": "Set Video MimeType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP fetch reel MP": {
      "main": [
        [
          {
            "node": "IF fetch succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video MimeType1": {
      "main": [
        [
          {
            "node": "Drive upload video to raw2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive upload video to raw2": {
      "main": [
        [
          {
            "node": "Re-attach raw_mp4 for title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-attach raw_mp4 for title": {
      "main": [
        [
          {
            "node": "HTTP Extract title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Extract title": {
      "main": [
        [
          {
            "node": "Sheet update link status and title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Sheet new reel row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "note": "Drive upload outputs JSON only — Code node copies raw_mp4 from Set Video MimeType1 before HTTP Extract title."
  }
}
